<div class='center hero-unit'>
  <h1>Bonjour B!TC3S!! Welcome to the best Rails app in the universe!!!</h1>
  <h2>This is the home page for the 
    <a href="https://railstutorial.org">Ruby on Rails tutorial</a>
    sample application
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", :alt => "Rails"), "https://railstutorial.org" %>
